body {
  background-color: coral;
}

.container {
  width: 575px;
  height: 80%;
  background-color: blue;
  margin: 5% auto;
  border-radius: 30px;
  box-shadow: 7px 7px 10px 7px black;
}

.outputContainer {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 90%;
  height: 120px;
  text-align: right;
  font-family: monospace;
  font-size: 30px;
  transform: translateY(12px);
}

#resultHistoryContainer {
  position: relative;
  right: 10px;
  font-size: 25px;
}
#resultContainer {
  position: relative;
  right: 10px;
  bottom: 0px;
  font-weight: bold;
}

.inputButtonContainer {
  margin-top: 15px;
  margin-left: 15px;
}

button {
  margin: 15px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
}
button.operator {
  background-color: crimson;
}
button:active {
  transform: translateY(4px);
}
button:hover {
  cursor: pointer;
}
